body {
  font-family: 'Lato', sans-serif;
  background-color: rgba(203, 218, 229, .6);
}

.current_weather_container {
  border: 1px solid green;
  width: 10em;
  position: absolute;
  right: 1em;
  top: 3em;
}

.weather_container {
  display: flex;
  justify-content: center;
}

.weather_day {
  position: relative;
  height: 15em;
  width: 15em;
  padding: 0;
  margin: 5px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 3px 10px 25px 1px rgba(50, 50, 50, 0.1);
}

.weather_container li {
  list-style-type: none;
  position: absolute;
  color: #B8B8B8;
  left: 0;
}

li.date {
  font-size: 1.4em;
  top: 3%;
  left: 4%;
}

li.max_temp {
  top: 35%;
  left: 37%;
  font-size: 3em;
  font-weight: 300;
}

li.min_temp {
  top: 58%;
  left: 43%;
  font-size: 1.5em;
  font-weight: 300;
}

.weather_state_svg {
  height: 3em;
  width: 3em;
  top: 1%;
  right: 2%;
  position: absolute;
}

li.humidity {
  top: 85%;
  left: 27%;
}

/* geosuggest */
.search_form {
  display: flex;
  justify-content: center;
  margin: 3em;
}

button {
  z-index: 1;
  color: grey;
}

.search_icon:hover {
  cursor: pointer;
}

.geosuggest {
  font-size: 18px;
  position: relative;
  width: 50%;
  text-align: left;
}
.geosuggest__input {
  width: 100%;
  border: 2px solid transparent;
  /* box-shadow: 0 0 1px #3d464d; */
  padding: .5em 1em;
  -webkit-transition: border 0.2s, box-shadow 0.2s;
          transition: border 0.2s, box-shadow 0.2s;
}
.geosuggest__input:focus {
  border-color: #267dc0;
  box-shadow: 0 0 0 transparent;
}
.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  margin-top: -1px;
  background: #fff;
  border: 2px solid #267dc0;
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
          transition: max-height 0.2s, border 0.2s;
}
.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

.geosuggest__item {
  font-size: 18px;
  font-size: 1rem;
  padding: .5em .65em;
  cursor: pointer;
}
.geosuggest__item:hover,
.geosuggest__item:focus {
  background: #f5f5f5;
}
.geosuggest__item--active {
  background: #267dc0;
  color: #fff;
}
.geosuggest__item--active:hover,
.geosuggest__item--active:focus {
  background: #ccc;
}
/* .geosuggest__item__matched-text {
  font-weight: bold;
} */
/* end of geosuggest */

@media (max-width: 768px) {
  .weather_container {
    flex-direction: column;
  }
}
